* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

picture, img {
  display: block;
  width: 100%;
  max-width: 100%;
}

header,
main,
footer {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

button {
  border-style: none;
  background-color: transparent;
}

.on {
  display: block;
}

.off {
  display: none;
}

.menu__btn {
  width: 100%;
  height: 75px;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
  background-color: #f6f6f6;
  transition: all 300ms ease-in-out;
}
.menu__btn__nb {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
}
.menu__btn i {
  position: absolute;
  left: 40px;
  color: #807d7d;
  transition: color 300ms ease-in-out;
}
.menu__btn:hover {
  background-color: #e4d5f6;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
}
.menu__btn:hover i {
  color: #9356DC;
}

.card {
  width: 100%;
  height: 250px;
  border-radius: 15px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}
.card__header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card__header img {
  -o-object-fit: cover;
     object-fit: cover;
}
.card__new {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #2c9c81;
  font-weight: 600;
  background-color: #99E2D0;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 3px;
}
.card__body {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.card__heading {
  line-height: 1.5em;
}
.card__heading p {
  font-weight: 100;
}
.card__heart {
  font-size: 28px;
}
.card__heart .fa-solid {
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 300ms ease-in-out;
}
.card__heart .fa-regular {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
.card__heart:hover .fa-solid {
  opacity: 1;
}
.card__heart:hover .fa-regular {
  opacity: 0;
}

.loader {
  /* all the page */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* top */
  z-index: 1;
  /* center */
  display: flex;
  justify-content: center;
  align-items: center;
  /* bg color */
  background-color: #f6f6f6;
  opacity: 0.9;
  /*anim*/
  -webkit-animation: fadeout 3s 2s linear forwards;
          animation: fadeout 3s 2s linear forwards;
}
.loader::after {
  content: "";
  width: 150px;
  height: 150px;
  border: 20px solid transparent;
  border-bottom-color: #FF79DA;
  border-top-color: #9356DC;
  border-radius: 50%;
  -webkit-animation: loading 0.75s ease infinite;
          animation: loading 0.75s ease infinite;
}

@-webkit-keyframes loading {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes loading {
  to {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes fadeout {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeout {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  border-radius: 20px;
  height: 75px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item * {
  outline: 1px solid red;
}
.item__txt p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item__price {
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 400px;
}
.header__logo {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__logo a {
  position: absolute;
  left: 0px;
  padding: 20px;
  font-size: 20px;
}
.header__logo a:hover {
  color: #FF79DA;
}
.header__logo picture, .header__logo img {
  height: 29px;
  width: auto;
}
.header__image {
  -o-object-fit: cover;
     object-fit: cover;
}
.header__location {
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1eded;
}
.header__location i {
  margin-right: 20px;
}
.header__intro {
  padding: 40px 20px;
  text-align: center;
  background-color: #f6f6f6;
}
.header__intro h1 {
  font-size: 28px;
}
.header__intro h2 {
  margin: 20px auto;
  font-weight: 100;
  font-size: 18px;
}
.header__btn {
  margin: 10px auto;
  height: 50px;
  padding-inline: 25px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.footer {
  padding: 40px;
  background-color: #393939;
  color: white;
}
.footer__heading {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
}

.nav {
  margin-top: 20px;
}
.nav li {
  margin: 10px 0;
}
.nav__link {
  color: white;
}
.nav__link i {
  display: inline-block;
  width: 20px;
}

.menu {
  padding: 50px 20px;
}
.menu__list {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.restaurants {
  padding: 50px 20px;
  background-color: #f6f6f6;
}
.restaurants__list {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.restaurant {
  background-color: #f6f6f6;
  position: relative;
  top: -125px;
  border-radius: 50px 50px 0 0px;
  padding: 25px 20px;
}
.restaurant__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurant__header h2 {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 100;
}/*# sourceMappingURL=main.css.map */