* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: black;
}

picture, img {
  display: block;
  width: 100%;
  max-width: 100%;
}

header, main, footer {
  width: 100%;
}

.container {
  max-width: 1440px;
  margin-inline: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

button {
  border-style: none;
  background-color: transparent;
}

@-webkit-keyframes loader-rotate {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes loader-rotate {
  to {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes loader-fadeout {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loader-fadeout {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes menu-fadein {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  50% {
    opacity: 1;
  }
  90% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes menu-fadein {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  50% {
    opacity: 1;
  }
  90% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}
.main-btn {
  margin: 10px auto;
  display: block;
  text-align: center;
  color: white;
  height: 50px;
  padding-inline: 25px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: all 350ms ease-in-out;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}
.main-btn:hover {
  background: linear-gradient(#ff88de, #9b63df);
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
}

.card {
  display: block;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
}
.card__header {
  display: grid;
  place-content: center;
  position: relative;
  height: 175px;
  overflow: hidden;
}
.card__header img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 4/3;
}
.card__new {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #2c9c81;
  background-color: #99E2D0;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 3px;
}
.card__body {
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.card__heading {
  line-height: 1.5em;
}
.card__heading p {
  font-weight: 100;
}
.card__heart {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.card__heart .fa-solid {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 300ms ease-in-out;
}
.card__heart .fa-regular {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
.card__heart:hover .fa-solid {
  opacity: 1;
}
.card__heart:hover .fa-regular {
  opacity: 0;
}

.loader {
  /* all the page */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* top */
  z-index: 2;
  /* center */
  display: flex;
  justify-content: center;
  align-items: center;
  /* bg color */
  background-color: #f6f6f6;
  opacity: 0.95;
  /* anim */
  -webkit-animation: loader-fadeout 3s 750ms linear forwards;
          animation: loader-fadeout 3s 750ms linear forwards;
}
.loader::after {
  content: "";
  width: 100px;
  height: 100px;
  border: 20px solid transparent;
  border-bottom-color: #FF79DA;
  border-top-color: #9356DC;
  border-radius: 50%;
  -webkit-animation: loader-rotate 0.8s 0.2s ease infinite;
          animation: loader-rotate 0.8s 0.2s ease infinite;
}
.loader::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border: 10px solid transparent;
  border-right-color: #99E2D0;
  border-left-color: #99E2D0;
  border-radius: 50%;
  -webkit-animation: loader-rotate 0.65s 0.01s ease-in-out infinite;
          animation: loader-rotate 0.65s 0.01s ease-in-out infinite;
}

.item {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  height: 70px;
  display: flex;
  overflow: hidden;
  cursor: pointer;
}
.item--1 {
  -webkit-animation: menu-fadein 380ms 80ms ease-in-out both;
          animation: menu-fadein 380ms 80ms ease-in-out both;
}
.item--2 {
  -webkit-animation: menu-fadein 380ms 160ms ease-in-out both;
          animation: menu-fadein 380ms 160ms ease-in-out both;
}
.item--3 {
  -webkit-animation: menu-fadein 380ms 240ms ease-in-out both;
          animation: menu-fadein 380ms 240ms ease-in-out both;
}
.item--4 {
  -webkit-animation: menu-fadein 380ms 320ms ease-in-out both;
          animation: menu-fadein 380ms 320ms ease-in-out both;
}
.item--5 {
  -webkit-animation: menu-fadein 380ms 400ms ease-in-out both;
          animation: menu-fadein 380ms 400ms ease-in-out both;
}
.item--6 {
  -webkit-animation: menu-fadein 380ms 480ms ease-in-out both;
          animation: menu-fadein 380ms 480ms ease-in-out both;
}
.item--7 {
  -webkit-animation: menu-fadein 380ms 560ms ease-in-out both;
          animation: menu-fadein 380ms 560ms ease-in-out both;
}
.item--8 {
  -webkit-animation: menu-fadein 380ms 640ms ease-in-out both;
          animation: menu-fadein 380ms 640ms ease-in-out both;
}
.item--9 {
  -webkit-animation: menu-fadein 380ms 720ms ease-in-out both;
          animation: menu-fadein 380ms 720ms ease-in-out both;
}
.item__header {
  padding: 1rem;
  flex: 1;
  overflow: hidden;
}
.item__header * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item__price {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
}
.item__select {
  display: grid;
  place-content: center;
  width: 100px;
  height: 100%;
  margin-right: -100px;
  background-color: #99E2D0;
  font-size: 22px;
  color: white;
  transition: all 500ms;
}
.item__select i {
  transition: transform 700ms 100ms;
}
.item:hover .item__select {
  margin-right: 0;
}
.item:hover .item__select i {
  transform: rotate(-360deg);
}

.home__location {
  height: 50px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1eded;
}
.home__location i {
  margin-right: 10px;
}
.home__hero {
  padding: 40px 20px;
  text-align: center;
  background-color: #f6f6f6;
}
.home__hero h1 {
  font-size: 28px;
}
.home__hero h2 {
  margin: 20px auto;
  font-weight: 100;
  font-size: 18px;
}

.header {
  height: 60px;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header h1 {
  font-size: 28px;
  font-family: "Shrikhand";
  font-weight: 100;
}
.header--relative {
  position: relative;
}
.header--relative a {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  transition: all 200ms ease-out;
}
.header--relative a:hover {
  color: #FF79DA;
  transform: translateX(-10%);
}

.footer {
  padding: 40px;
  background-color: #393939;
  color: white;
}
.footer__heading {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
}

.nav {
  margin-top: 20px;
}
.nav li {
  margin: 10px 0;
}
.nav__link {
  color: white;
}
.nav__link i {
  display: inline-block;
  width: 20px;
}
.nav__link:hover {
  text-decoration: underline;
}

.menu {
  padding: 50px 20px;
}
.menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 25px 0;
  gap: 25px;
}
.menu__btn {
  position: relative;
  flex: 1;
  padding: 1.5rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
  background-color: #f6f6f6;
  transition: all 300ms ease-in-out;
}
.menu__btn span {
  position: absolute;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
}
.menu__btn i {
  position: absolute;
  left: 40px;
  color: #807d7d;
  transition: color 300ms ease-in-out;
}
.menu__btn:hover {
  background-color: #e4d5f6;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
}
.menu__btn:hover i {
  color: #9356DC;
}

.cards {
  padding: 50px 20px;
  background-color: #f6f6f6;
}
.cards__list {
  margin: 25px 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}

.items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px 0;
}
.items h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  position: relative;
  padding-top: 25px;
  padding-bottom: 10px;
}
.items h3::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
}

.restaurant__img {
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant__body {
  position: relative;
  margin-top: -2.5rem;
  border-radius: 2.5rem 2.5rem 0 0;
  padding: 1.2rem 1.2rem;
  background-color: #f6f6f6;
}
.restaurant__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurant__header h2 {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 100;
}
.restaurant__btn {
  margin: 50px auto;
  display: block;
  text-align: center;
  color: white;
  height: 50px;
  padding-inline: 25px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: all 350ms ease-in-out;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}
.restaurant__btn:hover {
  background: linear-gradient(#ff88de, #9b63df);
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
}
.restaurant__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1%;
}

@media (min-width: 768px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .card__header {
    height: 250px;
  }
  .restaurant__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  .items h3 {
    font-size: 22px;
  }
  .item {
    height: 90px;
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .menu__list {
    flex-direction: row;
  }
  .card__header {
    height: 350px;
  }
}/*# sourceMappingURL=main.css.map */