.items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding:5px 0;

    h3 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: $font-s;
        position: relative;
        padding-top: 25px;
        padding-bottom: 10px;

        &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            height: 3px;
            width: 40px;
            background-color: $color-3;
        }
    }
}


.item {
    border-radius: 15px;
    height: 65px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 15px;
    box-shadow:0 0 12px rgba(0,0,0,0.12);

    h4 {
        font-size: $font-m;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;


        p {
            flex: 1;
            font-weight: 300;
            white-space: nowrap;
            font-size:$font-s;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        span {
            text-align: center;
            font-size:$font-xs;
            width: 50px;
            font-weight: 600;
        }
    }
}