.items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding:5px 0;

    h3 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: $font-s;
        position: relative;
        padding-top: 25px;
        padding-bottom: 10px;

        &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            height: 3px;
            width: 40px;
            background-color: $color-3;
        }
    }
}


.item {
    border-radius: 15px;
    height: 65px;
    background-color: white;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 15px;
    box-shadow:0 0 12px rgba(0,0,0,0.12);

    h4 {
        font-size: $font-m;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        width: 100%;
        transition: width 350ms 0ms;

        p {
            flex: 1;
            font-weight: 300;
            white-space: nowrap;
            font-size:$font-s;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        span {
            text-align: center;
            font-size:$font-xs;
            width: 50px;
            font-weight: 600;
        }
    }

    &:hover > &__bottom {
        width:80%;
    }

    &:hover > &__select {
        transform: translateX(0);

        
    }

    &:hover > &__select  > i {
        transform: rotate(360deg);
    }

    &__select {
        font-size: $font-l;
        position: absolute;
        right:0;
        transform: translateX(75px);
        width:75px;
        color:white;
        background-color: $color-3;
        height:100%;
        border-radius: 0 15px 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 350ms ease-out;

        i {
            transform: rotate(180deg);
            transition: all 350ms ease-in;

        }


    }
}