// List of items 
.items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px 0;

    h3 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: $font-s;
        position: relative;
        padding-top: 25px;
        padding-bottom: 10px;

        &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            height: 3px;
            width: 40px;
            background-color: $color-3;
        }
    }
}


.item {
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        height: 70px;
        display: flex;
        overflow: hidden;
        
        &__header {
                padding: 1rem;
                flex:1;
                overflow: hidden;
                * {
                    white-space: nowrap; 
                    overflow: hidden;
                    text-overflow: ellipsis; 
                }
        }

        &__price {
            padding:1rem;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            font-weight: bold;
        }

        &__select {
            display: grid;
            place-content: center;
            height: 100%;
            background-color:$color-3;
            font-size:$font-xl;
            color: white;
            margin-right: -4rem;
            transition: all 500ms;
            width:4rem;
            i {
                transition: transform 500ms;
            }
        }

       &:hover &__select {
            //width:auto;
            margin-right: 0;
            i {
                transform: rotate(-360deg);
            }

        }
}

/*
.item {
    background-color: white;
    overflow: hidden;
    cursor: pointer;
    max-width: 100%;
    display: flex;
    padding: 1rem;
    border-radius: 0.75rem;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);

    &__header {
        overflow: hidden;
        flex: 1;
        * {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    &__price {
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-left: 0.5rem;
      }
    
      &__select {
        background-color: $color-3;
        margin: -1rem -5rem -1rem 1rem;
        width: 4rem;
        display:flex;
        align-items:center;
        justify-content:center;
        transition-duration: 0.5s;
      }

      &:hover &__select {
        margin-right: -1rem;
      }

}
*/