body::after {
    background-color: white;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100vw;
    height: 100vh;
    content:"";
    animation: anim-loader 10s forwards;
}


@keyframes anim-loader {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}