* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

picture, img {
    display: block;
    width: 100%;
    max-width: 100%;
}

// .container {
//     margin-inline: auto;
//     min-width: 750px;
//     padding: 0 50px;
// }

header,
main,
footer {
    width: 100%;
}

.on {display:block;}
.off { display:none;}

// h1, h2, h3, h4, h5, h6 {
//     font-family: 'Shrikhand', cursive;
// }