@media (min-width:992px) {

    .home {
        &__location {
            font-size: $font-m;
        }

        &__hero {
            h2 {
                font-size:$font-xxl;
            }
            h3 {
                font-weight: 400;
                font-size:$font-l;
            }
        }
    }

    .menu__list {
        flex-direction: row;
    }

    .card__header {
        height: 350px;
    }

    .items {
        grid-template-columns: repeat(3,1fr);
    }
}