@media (min-width:768px){

    .cards__list {
        grid-template-columns: repeat(2, 1fr);
    }


    .card__header {
        height:250px;
    }

    .restaurant__list {
        //flex-direction: row;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 1rem;
    }



    .items h3 {
        font-size: $font-xl;
    }
    .item {
        height:90px;
        font-size: $font-l;
    }


}