@media (min-width:768px) {

    .cards__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .card__header {
        height: 250px;
    }


    .items {
        h3 { font-size: $font-xl; }
    }

    
    .item {
        &__header, &__price { padding: 1.5rem; }

        //height: 90px;
        font-size: $font-l;
    }
}