.footer {
    padding:40px;
    background-color: $color-grey-3;
    color:white;
    &__heading {
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
    }
}

.nav {
    margin-top:20px;
    li {
        margin:10px 0;
    }
    &__link {
        color:white;
        i {
            display: inline-block;
            width:20px;
        }
        &:hover{
            text-decoration: underline;
        }
    }
}

