.header {
    height: 60px;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
    @include center;

    h1 {
        font-size: $font-xxl;
        font-family: $font-title;
        font-weight: 100;
    }

    &--relative {
        position: relative;

        a {
            position: absolute;
            left:0;
            top:0;
            height: 100%;
            width: 4rem;
            @include center;
            font-size: $font-xl;
            transition: all 200ms ease-out;
            &:hover {
                color: $color-2;
                transform: translateX(-10%);
            }
        }
    }
}