.header {
    height:60px;
    @include center;
    box-shadow: 0 0 0.3rem rgba(0,0,0,0.3);
    // Shadow on top, or with z-index: 1;
    position: relative;

    &__title {
        font-size: $font-xxl;
        font-family: Shrikhand;
        font-weight: 100;
        font-style: normal;
    }
}