.header {
    height:400px;

    &__logo {
        height:60px;
        @include center;
        position:relative;
        box-shadow: 0 0 0.5rem rgba(0,0,0,0.5);
        /* top of location*/
        z-index: 1;

        a {
            position: absolute;
            left:0px;
            padding:20px;
            font-size: $font-l;
            &:hover {
                color:$color-2;
            }
        }
        picture, img {
                height: 29px;
                width: auto;
        }
    }

    &__image {
        // display: block;
        // width:100%;
        // max-width:100%;
        object-fit: cover;
    }

    &__location {
        height:50px;
        font-size: $font-m;
        @include center;
        background-color: $color-grey-1;
        i { 
            margin-right: 20px;
        }  
    }

    &__intro {
        padding:40px 20px;
        text-align: center;
        background-color: $color-grey-2;
        h1 {
            font-size:$font-xxl;
        }
        h2 {
            margin: 20px auto;
            font-weight: 100;
            font-size:$font-m;
        }
    }

    &__btn {
        margin: 10px auto;
        height:50px;
        padding-inline: 25px;
        border-radius: 25px;
        background: linear-gradient($color-2, $color-1);
        font-size:$font-m;
        color: white;
        cursor: pointer;
    }
}