.restaurant {
    background-color: $color-grey-2;
    position: relative;
    top:-125px;
    border-radius: 50px 50px 0 0px;
    padding:25px 20px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
            font-family:Shrikhand;
            font-size: $font-xxl;
            font-weight: 100;
        }
    }

    &__btn {
        text-align: center;
        margin: 50px auto;
        button {
            height:50px;
            padding-inline: 50px;
            border-radius: 25px;
            background: linear-gradient($color-2, $color-1);
            font-size:$font-s;
            font-weight: 600;
            color: white;
            cursor: pointer;
        }

    }
}