.restaurant {
    &__img {
        max-height: 500px;
        object-fit: cover;
    }

    &__body {
        position: relative;
        margin-top: -2.5rem;
        border-radius: 2.5rem 2.5rem 0 0;
        padding: 1.2rem 1.2rem;
        background-color: $color-grey-2;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
            font-family:$font-title;
            font-size: $font-xxl;
            font-weight: 100;
        }
    }

    &__btn {
        margin: 50px auto;
        @include btn-main;
        &:hover {
            @include btn-main-hover;
        }
    }
}